.button {
  @apply inline-block border-primary-light uppercase border-2 text-primary-light text-lg tracking-widest font-normal py-3 px-6;
  transition: background-color .2s linear, color .2s linear;
  &:hover{
    @apply bg-primary border-primary text-gray-100;
  }
}