.menu-item {
  @apply inline-block px-4 text-lg uppercase tracking-widest transition duration-300;
  &.current-menu-item,
  &:hover {
    @apply text-primary;
  }
}

.menu-item:last-child {
  @apply pr-0;
}

.main-menu.mobile {
  @apply block absolute bg-gray-100 right-0 left-0 p-4 shadow-lg border-t-4 border-primary z-10;
  top: calc(100% + .75rem);
  .menu-item{
    @apply block border-b-2 py-2;
  }
  .menu-item:last-child{
    @apply border-0;
  }
}