@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './vendor/swiper.pcss';
@import './base/base.pcss';
@import './typography/typography.pcss';
@import './backgrounds/backgrounds.pcss';

@import './components/form.pcss';
@import './components/menu.pcss';
@import './components/breadcrumbs.pcss';
@import './components/hero.pcss';
@import './components/button.pcss';
@import './components/pagination.pcss';
@import './components/list.pcss';





